<header class="cabecera">

    <a class="logo-enlace" routerLink="/">
        <img src="assets/img/LOGOFINAL-removebg.png">
    </a>

</header>

<main class="zona-login">

    <div class="caja-login">

        <h1 class="titulo-login">Registro</h1>

        <form (ngSubmit)="registrar()">

            <label class="texto-etiqueta">Usuario</label>
            <input class="campo-texto" type="text" name="username" [(ngModel)]="username" required>

            <label class="texto-etiqueta">Email</label>
            <input class="campo-texto" type="email" name="email" [(ngModel)]="email" required>

            <label class="texto-etiqueta">Contraseña</label>
            <input class="campo-texto" type="password" name="password" [(ngModel)]="password" required>

            <button class="boton-acceder" type="submit">
                REGISTRARSE
            </button>

        </form>

        <p>{{mensaje}}</p>

        <a routerLink="/">Volver al login</a>

    </div>

</main>