<header class="cabecera">

  <a class="logo-enlace" routerLink="/inicio">
    <img src="img/LOGOFINAL-removebg.png" alt="Logo Digital-FIT">
  </a>

  <nav class="menu-navegacion">
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/privados">Centros privados</a></li>
      <li><a routerLink="/publicos">Lugares públicos</a></li>
      <li><a routerLink="/entrenamientos">Entrenamientos</a></li>
      <li><a routerLink="/soporte">Soporte</a></li>

      @if (esAdmin()) {
        <li><a routerLink="/admin/soporte">Panel soporte</a></li>
      }
    </ul>
  </nav>

  <div class="estado-usuario">
    @if (usuarioActual) {
      <span>{{ iconoUsuario() }} {{ usuarioActual.username }} ({{ usuarioActual.rol }})</span>
      <button class="boton-header" (click)="cerrarSesion()">Salir</button>
    } @else {
      <span>Sesión no iniciada</span>
      <a class="boton-header" routerLink="/login">Entrar</a>
    }
  </div>

</header>
