<header class="cabecera">

  <a class="logo-enlace" routerLink="/inicio">
    <img src="img/LOGOFINAL-removebg.png" alt="Logo Digital-FIT">
  </a>

  <nav class="menu-navegacion">
    <ul>
      @if (esAdmin()) {
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/admin/soporte">Panel soporte</a></li>
      <li><a routerLink="/admin/crear-admin">Crear admin</a></li>
      } @else {
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/mis-entrenamientos">Mis entrenamientos</a></li>
      <li><a routerLink="/mis-centros">Mis centros</a></li>
      <li><a routerLink="/mis-lugares">Mis lugares</a></li>
      }
    </ul>
  </nav>

  <div class="estado-usuario">
    @if (usuarioActual) {
    <span>{{ iconoUsuario() }} {{ usuarioActual.username }} ({{ usuarioActual.rol }})</span>
    <button class="boton-header" (click)="cerrarSesion()">Salir</button>
    } @else {
    <span>Sesión no iniciada</span>
    <a class="boton-header" routerLink="/login">Entrar</a>
    }
  </div>

</header>